<% provide(:title, 'About BLAM') %>
<div class="row">
  <section class="col-md-3">
    <br>
    <h2>Brian Lambert</h2>
    <hr>
    <section class="picture_left img-rounded">
    <%= image_tag("personal1.png", :class => "img-rounded") %>
    </section>
  </section>
  <section class="col-md-9">
    <div class="home-text">
      <br>
      <br>
      <br>
      <p>I grew as an Army brat, meaning I was lucky enough to have lived in a variety of places, including Germany and Texas twice, Colorado, New York, Wisconsin, Minnesota, California, and most recently Tucson. Growing up in all these places allowed me to experience a variety of cultures and peoples.  In this time I enjoyed skiing, hiking, and of course experiencing other cultures and their cuisines. One of my most memorable experiences was hiking the Cinque Terre with my parents and friends, when a huge rainstorm came forcing us to rush to the next town, where we were able to dry out next to a huge fireplace and have some of the best Pesto Genovese I have ever had.</p>
      <p>I studied economics and political science at Carleton College.  While in college, I participated in several clubs and activities, most prominently the Men’s Rugby Football Club.  In terms of academics my focus was economics and political science, with a semester spent studying abroad at Cambridge University in the UK.</p>
      <p>Upon graduation, I worked on a couple financial technology startups, though at the time I was focused more on the non-technical aspects of the project.  I returned to academia to pursue a graduate degree in political science at the University of Arizona, before deciding to depart with a master’s degree in May  2015.  I am currently spending my time tutoring students and learning how to code.</p>
    </div>
  </section>
</div>
