<div class="row">
  <section class="col-md-9">
    <div class="home-text">
      <br>
      <h2>Welcome</h2>
      <p>The world is undergoing yet another revolution as our lives and decision making become increasingly defined by quantization and reliance on technology. This shift has elevated the necessity of coding, such that this world can be shaped for the benefit of all. Yet, beyond superlatives, coding is something that I find to be an increasingly important, and enjoyable, part of our lives.</p>

      <p>I am currently working on a project to bring more readily available information and understanding to entrepreneurs and businesses about payments technologies. This project seeks to provide the financial and integration information needed by entrepreneurs and businesses about online market platforms and payment systems – including alternative forms of payments beyond credit cards. My vision is for this project to provide the clearest and most accessible information on payments.</p>
      <br>
      <h4>Other concepts I am interested in pursuing:</h4>
      <ul>
        <li>A payments platform allowing customers to make in-aisle purchases, and avoid the checkout line</li>
        <li>A financial management application to better enable students and young professionals to improve their finances and credit</li>
        <li>A historically based multiplayer HTML5 strategy, allowing players to guide the destiny of their nations</li>
        <li>An application to make learning more accessible to broader segments of the population through gamification and multimedia</li>
        <li>An employment marketplace designed to aid recent and soon-to-be college graduates match with prospective employers</li>
        <li>An app to train users how to write better</li>
        <li>A framework for medical billing to make it more accurate and timely billing</li>
      </ul>
    </div>
  </section>
  <section class="col-md-3">
    <section class="picture_right img-rounded">
      <%= image_tag("lambert_brian.jpg", :class => "img-rounded, img-responsive") %>
    </section>
  </section>
</div>
