<% provide(:title, 'Research') %>
<div class="row">
  <section class="col-md-3">
    <br>
    <h2>Research</h2>
    <hr>
    <section class="picture_left img-rounded">
    <%= image_tag("sustainability.png", :class => "img-rounded img-responsive") %>
    </section>
  </section>
  <section class="col-md-9">
    <div class="home-text">
      <br>
      <br>
      <p>While attending graduate school, I presented at several conferences and hosted a panel.  My research primarily focused on sustainability and natural resources, though I did also do some research on gender and the social welfare state and terrorism. It was the focus on war and conflict that would eventually lead me to leaving my program.</p>

      <br>
      <h4>Topics I have research specifically and some results:</h4>
      <ul>
        <li>The effect of the democratic process on environmental sustainability at the nation state level.  I found that democratic societies were indeed more sustainable than other forms of government, though autocracies were more sustainable than anocracies (neither democracies nor autocracies).</li>
        <li>The effect of different types of natural resources the type of government of a country.  I found that resources requiring greater internal investment in the nation and less susceptible to rent seeking behavior increased the likelihood of democratic governance.</li>
        <li>The effect of different types on natural resources on the onset of civil war.  I found contrary to previous expectations, purer natural resources lead to decreased levels of conflict, due to increase military and security apparatus funding.</li>
        <li>The neighborhood effect on terrorism, ie how does the state capacity of neighboring countries effect the likelihood of terrorism in a country.  In this paper, I found that terrorism is increased in countries, in countries bordered by less stable states. </li>
        <li>The role of the social welfare state and equitable outcomes for women.  Intriguingly, in this paper I found that liberal democracies, with smaller levels of social welfare, increased women's performance and attainment in the workplace.</li>
      </ul>
      <h6>If you would like more information about any of these projects please feel free to send me an email.</h4>
    </div>
  </section>
</div>
