<footer class="footer">
  <div class="container">
    <nav>
      <ul>
        <li><%= link_to "email",    '#'   %></li>
        <li><%= link_to "Github",   '#'   %></li>
        <li><%= link_to "Facebook", '#'   %></li>
        <li><%= link_to "LinkedIn", '#'   %></li>
      </ul>
    </nav>
  </div>
</foot>
