<footer class="footer">
  <div class="container">
    <nav>
      <ul>
        <li><%= mail_to "brian.joseth.lambert@gmail.com", "Email", encode: "hex"   %></li>
        <li><%= link_to "Github",   'https://github.com/keldonia'   %></li>
        <li><%= link_to "Facebook", 'https://www.facebook.com/brian.lambert.9041'   %></li>
        <li><%= link_to "LinkedIn", 'https://www.linkedin.com/pub/brian-lambert/35/135/879'   %></li>
      </ul>
    </nav>
  </div>
</foot>
